* {
	box-sizing: border-box;
}

body {
	background-color: rgb(235, 230, 243);
	min-height: 100vh;
	margin: 0;
}
header {
	text-align: center;
}
h1 {
	margin: 0 auto;
	color: #3586a7;
}
#game {
	width: 600px;
	height: 600px;
	margin: 0 auto;
	border: 5px solid chocolate;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
#game div {
	width: calc(100% / 3);
	height: calc(100% / 3);
	background-color: black;

	border: 1px solid white;
	color: blueviolet;

	font-size: 9rem;

	text-align: center;
}
div:hover {
	cursor: pointer;
}
button {
	width: 150px;
	height: 100px;
	background-color: rgb(72, 27, 114);
	color: rgb(255, 255, 255);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	visibility: hidden;
}

.show {
	visibility: visible;
	/* pointer-events: all; */
}
/* .disablePointer {
	pointer-events: none;
} */
#ende1 {
	background-color: aqua;
	width: 100%;
	height: calc(100% / 3);
	position: absolute;
	visibility: hidden;
}
#ende2 {
	background-color: aqua;
	width: 100%;
	height: calc(100% / 3);
	position: absolute;
	visibility: hidden;
}
