* {
	box-sizing: border-box;
}

body {
	background-image: linear-gradient(
		rgba(0, 0, 255, 0.5),
		rgba(255, 0, 191, 0.5)
	);

	min-height: 100vh;
	background-size: contain;
	margin: auto;
}
header {
	text-align: center;
}
h1 {
	margin: 0 auto;
	color: #0a0a0a;
}
#game {
	width: 600px;
	height: 600px;
	margin: 0 auto;
	border: 5px solid rgb(129, 5, 113);
	display: flex;
	flex-wrap: wrap;
	position: relative;
	opacity: 0.5;
}
#game div {
	width: calc(100% / 3);
	height: calc(100% / 3);
	background-color: black;

	border: 1px solid white;
	color: blueviolet;

	font-size: 9rem;

	text-align: center;
}
div:hover {
	cursor: pointer;
}
button {
	width: 150px;
	height: 100px;
	background-color: rgb(56, 8, 100, 1);
	opacity: 1;
	color: rgb(255, 255, 255);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	visibility: hidden;
}

.show {
	visibility: visible;
	/* pointer-events: all; */
}
/* .disablePointer {
	pointer-events: none;
} */
#ende1 {
	background-color: aqua;
	width: 100%;
	height: calc(100% / 3);
	position: absolute;
	visibility: hidden;
}
#ende2 {
	background-color: aqua;
	width: 100%;
	height: calc(100% / 3);
	position: absolute;
	visibility: hidden;
}
